<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질환 설명 - AI 피부 증상 분석 서비스</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="AI 피부 분석 로고" style="width: 300px; margin-bottom: 5px;">
            <h1>질환 상세설명</h1>
        </div>
        <nav class="navbar">
            <a href="/" class="nav-button">홈</a>
            <a href="/disease" class="nav-button">질환 설명</a>
            <a href="/mypage" class="nav-button">마이페이지</a>
        </nav>
    </header>
    
    <div class="container">
        <h2>피부질환 및 해결방법</h2>
        <div class="disease-info">
            <h3>여드름 (Acne)</h3>
            <img src="{{ url_for('static', filename='images/acne.jpg') }}" alt="여드름" class="circular-image">
            <p>여드름은 주로 얼굴, 목, 가슴, 등, 어깨 부위에 면포, 구진, 고름물집, 결절, 거짓낭 등이 발생하는 염증성 피부질환입니다. 치료하지 않아도 보통 수년 후에 없어지지만 영구적인 흉터를 남길 수 있어 미용적인 문제가 되며, 생명을 위협하는 병은 아니지만 환자에게 심리적인 부담을 줍니다. 따라서 치료 시기를 늦추지 않고 적절하게 치료를 받는 것과 여드름이 재발하지 않도록 잘 조절 및 관리하는 것이 중요합니다.</p>
            <p>
                <b>1. 바르는 약</b>
                <br>
                바르는 약은 경증 혹은 중등도 여드름에 사용됩니다. 항생제는 피부 표면과 모낭 내 여드름균에 작용해 세균 수를 줄이고 염증을 억제합니다. 비타민A 유도체인 트레티노인이나 아다팔렌은 항균작용, 각질제거와 함께 피지 배출을 돕는 작용이 있으며, 가수과산화벤조일은 강력한 항균 효과와 함께 약간의 항염증작용과 면포 용해 작용이 있습니다. 최근에는 두 가지 이상의 성분이 들어 있는 복합제가 많이 사용됩니다. 바르는 약을 쓰면 피부가 건조해지고 각질이 일어날 수 있습니다. 비누 세수를 자주 하거나 각질을 문지르는 것은 피하고, 세안 후에 적당한 피부 보습제를 사용하는 것이 좋습니다. 치료 전에 의사에게 바르는 약제의 올바른 사용법과 부작용에 대해 설명을 들어야 합니다.
                
                <br><br>
                
                <b>2. 먹는 약</b>
                
                <br>

                중등도나 중증 여드름에는 주로 먹는 약이 사용됩니다. 먹는 약으로는 경구용 항생제와 비타민A 유도체인 레티노이드(retinoid) 제제가 있습니다.
                
                <br><br>
                
                - 항생제 
                
                <br>

                항생제는 직접 모낭 내 여드름 균을 감소시키고 염증반응을 줄입니다. 특히 가슴이나 등 부위에 염증성 병변이 있는 경우 효과가 있습니다.
                
                <br><br>
                
                - 레티노이드(retinoid)
                
                <br>

                레티노이드 제제의 주된 작용은 피지 분비를 줄이는 것입니다. 이외에도 여드름 발생에 관련된 이상각화(불완전하고 미숙한 비정상적 각질화), 염증반응, 세균증식 등 대부분의 여드름 발생 경로를 차단합니다. 부작용으로는 입술염, 건조, 가려움 등과 혈액 검사에서 중성지방, 콜레스테롤, 간효소수치 상승 등이 있으므로 주기적인 검사가 필요합니다. 가임기 여성에서 태아 기형을 유발할 수 있어 약물 투여 시작 1개월 전부터 투여 중지 1개월 후까지 반드시 피임을 해야 합니다.
                
                <br><br>
                
                - 피임약 
                
                <br>

                생리 전에 여드름이 악화되는 여성이 피임약을 복용하면 여드름이 눈에 띄게 좋아집니다. 그래서 실제 여드름 치료에 피임약을 쓰기도 합니다.
            </p>
        </div>
        <div class="disease-info">
            <h3>여드름 흉터 (Acne Scar)</h3>
            <img src="{{ url_for('static', filename='images/acne_scar.jpg') }}" alt="여드름 흉터" class="circular-image">
            <p>여드름 흉터는 염증성 여드름에 의해서 진피층의 콜라겐 조직이 파괴된 정도에 따라 모양과 깊이, 그리고 범위 등에 있어서 다양하게 나타납니다. 그러므로 개개인이 가지고 있는 흉터의 모양, 깊이, 범위 그리고 해부학적 위치에 따라 가장 적합한 치료를 조합하여 시술하는 것이 가장 효과적인 결과를 얻을 수 있습니다. 송곳 모양 / 상자 모양 / 완만한 모양의 3가지 흉터가 있습니다.</p>
            <p>
                <b>1. 프락셀 제나 레이저</b>
                <br>
                프락셀 제나 레이저는 모든 형태의 여드름흉터 치료가 가능합니다. 여드름 흉터 속으로 1제곱센티미터 당 2천 ~ 3천 개의 미세한 구멍을 0.3 ~ 1.5mm 깊이로 만드는 것이 가능하며, 그 자리마다 새로운 콜라겐을 형성시켜 패인 흉터를 채워 올리고 과도하게 증식된 염증성 혈관을 파괴하여 붉은 기운을 감소시키고 넓어진 모공을 조여주고 주름을 개선시키는 등 다양한 치료 효과를 제공합니다.
                
                <br><br>

                <b>2. 수술적 치료</b>
                <br>
                함몰된 흉터부위가 좁고 깊으며 국소적이라면 해당 함몰흉터 부위를 정교하게 절제하고 봉합하는 방법이 효과적입니다. 봉합된 가는 실은 4-6일 사이 제거하게 됩니다.

                <br><br>

                <b>3. 필러 시술</b>
                <br>
                함몰된 흉터가 길게 패이고 깊지 않아야 합니다. 특히 흉터 주변 조직이 부드러워야 필러에 의한 융기로 함몰 흉터를 개선시킬 수 있습니다.
            </p>
        </div>
        <div class="disease-info">
            <h3>색소침착 (Hyperpigmentation)</h3>
            <img src="{{ url_for('static', filename='images/hyperpigmentation.jpg') }}" alt="색소침착" class="circular-image">
            <p>여드름 등 피부 트러블이나 상처 자국으로 인한 색소침착은 시간이 지나면 서서히 옅어지지만, 심한 경우에는 관리만으로 사라리지지 않고 깨끗한 피부에 오점을 남깁니다. 색소침착은 상처 등 피부 자극으로 인해 멜라닌 세포가 과도 분비되어 생기게 되며, 이를 잘못 관리할 경우 침착 부위가 옅어지는 기간이 길어지거나 시간이 흐른 후에도 남게 되므로 주의가 필요합니다.</p>
            <p>
                <b>1. 자외선 차단제 사용</b>
                <br>
                색소침착을 예방하는 최선의 방법은 자외선을 차단하는 것입니다. 자외선이 강한 여름에는 물론 사계절 내내 발라주어야 합니다. 매일 아침 스킨케어의 마지막 단계에 반드시 SPF 25 이상의 자외선 차단제를 발라주어야 하며 햇빛이 강한 날 오랫동안 실외활동을 하는 경우에는 틈틈이 덧발라 주어야 합니다.

                <br><br>

                <b>2. 충분한 수면</b>
                <br>
                피부의 재생이 활발한 시간은 오후 10시에서 새벽 2시까지이기 때문에, 이 시간에는 잠을 자는 것이 좋습니다. 만약 충분한 잠을 자지 못하게 되면 스트레스 호르몬인 코티솔이 피지 분비를 과하게 일으켜 위장에 좋지 않으며 노폐물을 배출시키지 못하여 피부 트러블을 일으키게 됩니다. 피부 재생시간 동안의 숙면으로 색소침착 등 손상된 세포의 재생을 도울 수 있습니다.

                <br><br>

                <b>3. 미백 기능성 제품 사용</b>
                <br>
                비타민C나 알부틴 등 미백 성분이 함유된 기능성 제품을 꾸준히 사용하는 것 또한 도움이 됩니다. 미백효과의 마사지나 화장품 등을 사용하면 여드름 자국도 없애고 얼굴 전체의 화이트닝 효과를 누릴 수 있습니다. 감귤류나 딸기, 레몬, 양배추, 토마토 등의 비타민C가 많이 함유된 과일과 채소를 많이 먹으면 피부 재생능력 향상에 도움이 됩니다.

                <br><br>

                <b>4. 상처부위 습윤 환경 유지</b>
                <br>
                피부에 상처가 나면 상처가 나은 후에도 색소침착으로 인한 흉터가 생기기 쉽습니다. 우선 딱지가 생기지 않도록 상처를 촉촉하게 유지하는 것이 중요합니다. 이를 위해서는 시중에 나와있는 습윤드레싱(습윤밴드)을 이용하는 것이 좋습니다.

                <br><br>

                <b>5. 각질 제거</b>
                <br>
                각질제거는 색소침착 예방에 도움을 줍니다. 각질 제거제가 피부에 남아있는 죽은 세포를 청소해주는 역할을 하여 죽은 세포가 있던 자리에 새로운 피부가 재생되는 것을 돕기 때문에 여드름 등 피부트러블 예방에도 좋습니다. 각질제거는 자극이 적은 제품을 이용하여 주기적으로 하는 것이 중요합니다.
            </p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 What's on My Skin. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
